{% extends "base.html" %}
{% block content %}
<h2>Products</h2>

<div style="display: flex; flex-wrap: wrap; gap: 20px;">
    {% for product in products %}
        <div style="border:1px solid #ccc; padding:15px; width:200px; border-radius:10px;">
            <h3>{{ product[1] }}</h3>
	        <p><strong>$ {{ product[2] }}</strong></p>
	        <p>{{ product[3] }}</p>
	        <a href="/product/{{ product[0] }}">
			    <button>View Details</button>
			</a>
        </div>
    {% endfor %}
</ul>

{% endblock %}